@import "variables"

.startStreamButton
  width: 100%
  display: flex
  justify-content: flex-end
  align-items: flex-start
  margin-bottom: 20px

  button
    padding: 8px 16px
    font-size: .9rem
    font-weight: 600
    color: #1c1c1c
    cursor: pointer
    background-color: $accentColor
    border: none
    border-radius: 4px

    &:hover
      background-color: $accentColorDark

    &:active
      background-color: $accentColor